name: Build

on:
  push:
    branches: ["**"]
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    uses: TheKingOfLettuce/LettuceGithubWorkflows/.github/workflows/Build-dotnet.yml@main
    with:
      dotnet-version: 8.0.x
      configuration: Release
      project-path: Lettuce.Talk.NetMQ/Lettuce.Talk.NetMQ.csproj
